#content {
	min-height: 480px;
	margin-bottom: 5em;
	background: #FFF;
	border: 1px solid #CCC;
	box-shadow: 1px 1px 3px rgba(0,0,0,.25);
	border-radius: 5px;
}

#content .content {
	display: none;
	margin-top: 2em;
}

.mydz {
	width: 23.0%;
	display: inline-block;
	margin: 0 1% 1.5em;
	vertical-align: top;
	text-align: center;
	text-decoration: none;
	background: #F3F3F3;
	border-radius: 5px;
}
.mydz .dz-icon {
	margin-top: .25em;
	margin-bottom: .5em;
	font-size: 32px;
	color: #3C4049;
	filter: alpha(opacity=85);
	opacity: .85;
}

.mydz :hover {
	background: #E8E8E8;
}

.mydz .dz-label {
	display: block;
	font-weight: 400;
	color: #3C4049;
}

.shortcuts {
	text-align: left;
}

.shortcuts .shortcut {
	width: 20.0%;
	display: inline-block;
	padding: 12px 0;
	margin: 0 1% 1.5em;
	vertical-align: top;
	text-align: center;
	text-decoration: none;
	background: #F3F3F3;
	border-radius: 5px;
}

.shortcuts .shortcut .shortcut-icon {
	margin-top: .25em;
	margin-bottom: .5em;
	font-size: 32px;
	color: #3C4049;
	filter: alpha(opacity=85);
	opacity: .85;
}

.shortcuts .shortcut:hover {
	background: #E8E8E8;
}

.shortcuts .shortcut-label {
	display: block;
	font-weight: 400;
	color: #3C4049;
}

#toTop {
	width: 100px;
	border: 1px solid #ccc;
	background: #f7f7f7;
	text-align: center;
	padding: 5px;
	position: fixed; /* this is the magic */
	bottom: 10px; /* together with this to put the div at the bottom*/
	right: 10px;
	cursor: pointer;
	display: none;
	color: #333;
	font-family: verdana;
	font-size: 11px;
}

.shortcuts .shortcut-index-1 {
	font-size: 3em;
	color: red;
}

.shortcuts .shortcut-index-2 {
	font-size: 3em;
	color: orange;
}

.shortcuts .shortcut-index-3 {
	font-size: 3em;
	color: yellow;
}

.shortcuts .shortcut-index-4 {
	font-size: 3em;
	color: green;
}

.shortcuts .shortcut-index-5 {
	font-size: 4em;
	color: green;
}

/***********************************************************************/
