extends user-layout

block body
    form( method="POST" )
        .form-group
            label( for="username" ) Username
            input.form-control( type="text", id="username", name="username", value="#{ username }", disabled)
        .form-group
            label( for="password" ) Current password
            input.form-control( required, type="password", id="password", name="password", placeholder="")
        .form-group
            label( for="password1" ) New password
            input.form-control( required, type="password", id="password1", name="password1")
        .form-group
            button.btn.btn-success.btn-block( type="submit" ) Update 