/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 100px;
    background-color: #ddd;
}

/*
 * Global add-ons
 */
.sub-header {
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}
.filter-container{
    min-width: 100px;
    max-width: 200px;
    margin-right: 10px;
}


/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
    display: none;
}

.overflow-auto-xy{
    overflow-x: auto;
    overflow-y: auto;
}
.overflow-auto-x{
    overflow-x: auto;
}
.overflow-auto-y{
    overflow-y: auto;
}
.row-cursor-pointer tr{
    cursor: pointer;
}
.row-cursor-pointer tbody>tr:hover{
    color: #428bca;
}

.row-cursor-default tr{
    cursor: default;
    color: black;
}
.row-cursor-default tbody>tr:hover{
    color: black;
}

.table-inside-table{
    padding: 2px;
}
.table-inside-table, .table-inside-table thead{
    background-color: #5cb85c;
}

.table-inside-table table{
    border-color: #5cb85c;
}
.table-inside-table td{
    max-width: 300px;
}
.dataTable td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    -ms-text-overflow: ellipsis;
}


.bg-img-1-red-pixel{
    /*1 red pixel*/
    background-image: url(data:image/gif;base64,R0lGODlhAQABAPAAAP8AAP///yH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==);
    background-size: 0px 3px; /*your percentage is the first one (width), second one (100%) is for height*/
    background-repeat: no-repeat;
    background-position: 100% 100%;
    color: #000;
    transition:         background-size 1s ease-out;
    -moz-transition:    background-size 1s ease-out;
    -ms-transition:     background-size 1s ease-out;
    -o-transition:      background-size 1s ease-out;
    -webkit-transition: background-size 1s ease-out;
}
@media ( min-width : 768px) {
    .sidebar {
        position: fixed;
        top: 51px;
        bottom: 0;
        left: 0;
        z-index: 1000;
        display: block;
        padding: 20px;
        overflow-x: hidden;
        overflow-y: auto;
        /* Scrollable contents if viewport is shorter than content. */
        background-color: #f5f5f5;
        border-right: 1px solid #eee;
    }
}

/* Sidebar navigation */
.nav-sidebar {
    margin-right: -21px; /* 20px padding + 1px border */
    margin-bottom: 20px;
    margin-left: -20px;
}

.navbar-nav>li>a {
    margin-right:  10px;
    margin-left:   10px;
    padding-left:  10px;
    padding-right: 10px;
}

.navbar-nav>.active>a {
    color: #fff;
    background-color: #428bca;
    font-weight: bold;
}

.navbar-nav>li>a:hover:before {
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    transform: scale(1, 1);
}
.navbar-nav>li>a:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 2px;
    width: 100%;
    height: 2px;
    background-color: white;

    -webkit-transition: 300ms;
    transition: 300ms;

    -webkit-transform: scale(0, 1);
    -ms-transform: scale(0, 1);
    transform: scale(0, 1);

    -webkit-transform-origin: 0 50%;
    -ms-transform-origin: 0 50%;
    transform-origin: 0 50%;
}
/*
 * Main content
 */
.main {
    padding: 20px;
}

@media ( min-width : 768px) {
    .main {
        padding-right: 40px;
        padding-left: 40px;
    }
}

.main .page-header {
    margin-top: 0;
}

/*
 * Placeholder dashboard ideas
 */
.placeholders {
    margin-bottom: 30px;
    text-align: center;
}

.placeholders h4 {
    margin-bottom: 0;
}

.placeholder {
    margin-bottom: 20px;
}

.placeholder img {
    display: inline-block;
    border-radius: 50%;
}

table.treetable {
    margin: 0;
    font-size: 12px;
}

table.treetable thead {
    font-size: 12px;
    font-weight: bold;
    display: block;
}

table.treetable  tbody{
    max-height: 320px;
    min-height: 280px;
    overflow-y: auto;
    overflow-x: hidden;
    display: block;
}
table.treetable span.indenter{
    overflow-x: hidden;
}
table.treetable >tbody>tr>td:first-child {
    cursor: default;
    overflow: hidden;
    white-space: nowrap;
    display: block;
    border-bottom: 0px;
    border-right: 0px;
}
table.treetable >tbody>tr:last-child>td:first-child {
    border-bottom: thin solid #efefef;
}
table.treetable>tbody>tr>td {
    cursor: pointer;
    border-collapse: collapse;
    border: thin solid #efefef;
}
table>tbody>tr:hover {
    text-decoration: underline;
}


tr.selected a {
    color: #fff;
}
.brillance{

}

.c3-area {
    opacity: 0.8;
}
.c3-line {
    stroke-width: 2px;
}

.c3-axis-y-label{
}

.dataTable, .dataTables_filter, .dataTables_info{
    font-size: 12px;
}

a {
    cursor: pointer;
}

.modal.modal-wide .modal-dialog {
  width: 90%;
}
.modal-wide .modal-body {
  overflow-y: auto;
}


.c3-legend-item{
    animation: 2s linear;
}

.c3-chart-line {
    opacity: 0;
    animation-name    : draw_c3j_line;
    animation-duration: 2s;

    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
}

@keyframes draw_c3j_line {
    0%    { opacity: 0}
    40%   { opacity: 0;   transform: translate(0px,50px);}
    80%   { opacity: 0.4; transform: translate(0px,0px);}
    100%  { opacity: 1;}
}



.c3-chart-arc {
    opacity: 0;
    animation-name    : draw_c3j_arc;
    animation-duration: 2s;

    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;

    -webkit-transform-origin:center center;
}

@keyframes draw_c3j_arc {
    0%    { opacity: 0 }
    40%   { opacity: 0;   transform: scale(0,0);}
    80%   { opacity: 0.4; transform: scale(1,1);}
    100%  { opacity: 1;}
}
